body {
    background-image: url(../images/41ef63a0a254e00d07aad82e9e95c49b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: large;
}

.border {
    border: none !important;
}

h2 {
    border-bottom: 3px solid #696866;
    font-family: 'Sevillana', cursive;
    font-size: 45px;
}

.form-control {
    transition: all 0.2s;
    background-color: rgba(5, 5, 5, 0.212);
    border-color: #000000;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #0e0d0d9a;
    background-color: #0e0d0d9a;
    transform: scale(1.05);
    color: white;
}
.btn-primary {
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: #181817;
}

.btn-primary:active {
    transform: scale(0.95);
    
}

.btn-primary:focus {
    background-color: #181817 !important;
    border-color: #181817 !important;
}
.register {
    height: 95vh;
    color:#181817!important;
}

.btn {
    background-color: #696866;
    border: none;
    border-radius: 10px;
}

.userAlert {
    color: rgb(209, 24, 24);
    font-size: 18px !important;

}

.registerlink{
    color: #696866 !important;
    text-decoration: none;   
}

.registerlink:hover {
    color: #181817 !important;
}

#allData {
    font-size: 20px !important;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}








