*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: large;
    position: relative;
    background-color: #792483;

}

/* start styling navBar */

#nav{
    background-color: #4b1052;
}

#nav .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav .container .userName{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

#nav .container .addNotes{
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

/* end styling navBar */

/* start styling create note */

#noteContainer{
    width: 80%;
    margin: auto;
}

#showNote {
    position: absolute;
    top : 70px;
    left: 190px;
    display: flex;
    flex-direction: column;
    width: 1000px !important;
    margin: 100px auto !important;
    border: solid 2px black;
    height: 400px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    background-color: #1b021d;
    z-index: 10;
}

.noteTitle{
    background-color: rgba(128, 128, 128, 0.174);
    border: none;
    width: 40% !important;
    font-size: 20px;
    color: white;
}

.noteTitle:focus{
    background-color: rgba(128, 128, 128, 0.174) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem #7f38b1;
}

.noteDetails {
    background-color: rgba(128, 128, 128, 0.174);
    border: none;
    font-size: 20px;
    color: white;
}

.noteDetails:focus{
    background-color: rgba(128, 128, 128, 0.174) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem #7f38b1;
}

.saveBtn{
    position: absolute;
    left: 885px;
    width: 100px;
    background-color: #792483;
    color: white;
}

.saveBtn:hover {
        background-color: #7f38b1;
        color: white;
}

.closeIcon{
    font-size: 25px;
    color: white;
    cursor: pointer;
} 

.overLay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 6, 70, 0.733);
    backdrop-filter: blur(2px);
    z-index: 5;
}
/* end styling create note */

.noteCards {
    background-color: #1b021d;
    margin: auto;
    color: white;
    height: 310px;
    display: flex;
    flex-direction: column;
}

.addBtn{
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color:#792483;
    width: 200px;
    margin: auto;
}

.addBtn:hover{
    background-color: #7f38b1;
}

.noteTextArea{
    width: 100%;
}