*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: large;
    background-color: #792483;

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px !important;
    margin: 100px auto !important;
    border: solid 2px black;
    height: 400px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    background-color: #1b021d;
}

.noteTitle{
    background-color: rgba(128, 128, 128, 0.174);
    border: none;
    width: 40% !important;
    font-size: 20px;
    color: white;
}

.noteTitle:focus{
    background-color: rgba(128, 128, 128, 0.174) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem #7f38b1;
}

.noteDetails {
    background-color: rgba(128, 128, 128, 0.174);
    border: none;
    font-size: 20px;
    color: white;
}

.noteDetails:focus{
    background-color: rgba(128, 128, 128, 0.174) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem #7f38b1;
}

.saveBtn{
    position: absolute;
    left: 885px;
    width: 100px;
    background-color: #792483;
    color: white;
}

.saveBtn:hover {
        background-color: #7f38b1;
        color: white;
    }